{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ full_name }}'s Profile</h1>
    {{ accounts.forms.as_ul }}
    <p>Username: {{request.user.username}}</p>
    <p>First Name: {{ request.user.first_name }}</p>
    <p>Last Name: {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p>
{#<form method="post" action=".">#}
{#  {% csrf_token %}#}
{#  {{ form|crispy }}#}
{##}
{#  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />#}
{#</form>#}
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Change <a href="{% url 'auth_password_change' %}">Password</a></p>
</div>
</div>
{% endblock %}

