<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Path Finder</title>
    <p style = "font-size:20px">Path Finder</p>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 20px; }
        #map {
            width: 700px;
            height: 500px;
            top: 0px;
            bottom:0px;
            left: 40px;
        }
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

        #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }
    </style>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=531963513646710";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% if user.is_superuser %}
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
{% else %}
    <p>Hello, visitor.</p>
{% endif %}


<div id="map"></div>
<div class="geolocation">
    <input type="checkbox" onclick="trackCurrentLocation()">Track your current location!</input>
    <!--<button type="button" onclick="trackCurrentLocation()">Track your current location!</button>-->
</div>
<div>
    {% if user.is_superuser %}
    <button type="button" onclick="fetchData()">Display all coordinates</button>
    {% endif %}

</div>
<div>
    <button type="button" onclick="testing()">Testing</button>
</div>

<input id="pac-input" class="controls" type="text"
       placeholder="Enter a location">

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.geocomplete.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<script type="text/javascript">

    var map;
    var markers = []; // initialize markers

    //clear old markers and make a map with a new one
    function makeNewMarkerMap(pos, title){
        markers.forEach(function(marker) {
            marker.setMap(null);
        });
        markers = [];
        markers.push(new google.maps.Marker({
            position: pos,
            map: map,
            title: title
        }));
        map.setCenter(pos);
        map.setZoom(17);
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 49.261226, lng: -123.1139271},
            zoom: 12
        });

        var input = document.getElementById('pac-input');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input); // places search bar inside map

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map); // prioritizes nearby locations

        autocomplete.addListener('place_changed', function() {

            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            } else {
                makeNewMarkerMap(place.geometry.location, place.name);
            }
        });
    }

    function trackCurrentLocation(){
        if(navigator.geolocation) {
            browserSupportFlag = true;
            navigator.geolocation.getCurrentPosition(function(position) {
                var LatLng = {lat: position.coords.latitude,lng:position.coords.longitude};
                makeNewMarkerMap(LatLng, "Your Current Location");
            }, function() {
                handleNoGeolocation(browserSupportFlag);
            });
        }
        // Browser doesn't support Geolocation
        else {
            browserSupportFlag = false;
            handleNoGeolocation(browserSupportFlag);
        }
        function handleNoGeolocation(errorFlag) {
            if (errorFlag == true) {
                alert("Geolocation service failed.");
                initialLocation = vancouver;
            } else {
                alert("Your browser doesn't support geolocation. ");
                initialLocation = vancouver;
            }
            map.setCenter(initialLocation);
        }
    }


    function fetchData() {
    {% if user.is_superuser %}
        jQuery.getJSON('/coord_test', function (data) {
                alert('Please wait while we fetch data...');
                var coordinates = [];
                jQuery.each(data, function (index, value) {
                    var myLatLng = {lat: value.lat, lng: value.lng};
                    var marker = new google.maps.Marker
                    ({
                        position: myLatLng,
                        map: map,
                        title: 'All coordinates from DB'
                    });
                });
            });
    {% else %}
        alert('You do not have authorization to perform this action');
    {% endif %}
        }

    function testing() {
        jQuery.getJSON('/coordwithid_test', function (data) {
            jQuery.each(data, function (index, value) {
                var myLatLng = {lat: value.lat, lng: value.lng};
                var marker = new google.maps.Marker
                ({
                    position: myLatLng,
                    map: map,
                    title: 'All coordinates from DB'
                });
            });
        });
    }

    /* Outline for Path Parsing Algorithm
    function getClosestPoint(selectedLatLng, points) {
        var closestPoint;
        var distance = 0;
        var tempDistance;
        jQuery.each(points, function(index, value) {
            tempDistance = getDistance(selectedLatLng, value)
            if (distance == 0) {
                distance = tempDistance;
                closestPoint = value;
            }
            else if (tempDistance < distance) {
                        distance = tempDistance;
                        closestPoint = value;
                }
            });
        filterPaths(closestPoint.tag);
        return closestPoint
    };

    function getDistance(selectedLatLng, otherLatLng) {
        var lat1 = selectedLatLng.lat;
        var lng1 = selectedLatLng.lng;
        var lat2 = otherLatLng.lat;
        var lng2 = otherLatLng.lng;
        return (math.abs(lat1 + lat2) + math.abs(lng1 + lng2));
    };

    function filterPaths(tag) {
        jQuery.each(points, function(index, value)  {
            if (value.tag == tag)
                array.splice(index, 1);
            });
    } */


  // This is called with the results from from FB.getLoginStatus().

    function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }


  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      //statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{531963513646710}',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.

    function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

function logout() {
    FB.logout(function(response) {
  // user is now logged out
    });
}
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button autologoutlink="true" scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<!--<button type="button" onclick="logout()">Logout from Facebook</button>-->
<div class="fb-like" data-href="https://path-finder.herokuapp.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>


<div id="status">
</div>

<!-- Initialize map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSMmC31JL-cWJP1BBwmXbj_9yM-6sSfCQ&signed_in=true&libraries=places&callback=initMap"
        async defer></script>

</body>
</html>
{% endblock %}
