<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Path Finder</title>
    <p style = "font-size:20px">Path Finder</p>
    <!-- CSS for Map -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
    <!-- JS for Map -->
    <script src="{% static 'js/load_map.js' %}"></script>
    <!-- JS for Facebook -->
    <script src="{% static 'js/facebook.js' %}"></script>

    <!-- Google+ Login and Share
    <link rel="canonical" href="https://path-finder.herokuapp.com" />
    <script src="https://apis.google.com/js/platform.js" async defer>
    </script>
    <meta name="google-signin-client_id" content="involuted-disk-110419.apps.googleusercontent.com">
    -->
</head>
<body>

<!--<div id="fb-root"></div>-->

{% if user.is_authenticated %}
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <a href="/accounts/profile/">
        <strong>{% firstof user.get_short_name user.get_username %}</strong>
        </a>
        <p>Click on your username to view your profile.</p>
    {% endblock %}
{% else %}
    <p>Hello, visitor.</p>
{% endif %}


<div id="map"></div>
<div class="geolocation">
    <input type="checkbox" onclick="trackCurrentLocation()">Track your current location!</input>
    <!--<button type="button" onclick="trackCurrentLocation()">Track your current location!</button>-->
</div>
<div>
    {% if user.is_superuser %}
    <button type="button" onclick="fetchData()">Display all coordinates</button>
    {% endif %}

</div>
<div>
    <button type="button" onclick="testing()">Testing</button>
</div>
<div>
    <button type="button" onclick="doStuff()">Get three nearest routes</button>
</div>

<input id="pac-input" class="controls" type="text"
       placeholder="Enter a location">

<fb:login-button autologoutlink="true" scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div class="fb-like" data-href="https://path-finder.herokuapp.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.geocomplete.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

<script type="text/javascript">

    function fetchData() {
    {% if user.is_superuser %}
        jQuery.getJSON('/coord_test', function (data) {
                alert('Please wait while we fetch data...');
                var coordinates = [];
                jQuery.each(data, function (index, value) {
                    var myLatLng = {lat: value.lat, lng: value.lng};
                    var marker = new google.maps.Marker
                    ({
                        position: myLatLng,
                        map: map,
                        title: 'All coordinates from DB'
                    });
                });
            });
    {% else %}
        alert('You do not have authorization to perform this action');
    {% endif %}
    }
</script>

<!--<div id="my-signin2"></div>-->
<!--<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>-->
<!--<div id="status"></div>-->
<!--<g:plus action="share"></g:plus>-->

<!-- Initialize map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSMmC31JL-cWJP1BBwmXbj_9yM-6sSfCQ&signed_in=false&libraries=places&callback=initMap"
        async defer></script>

</body>
</html>
{% endblock %}
